    
        .theme-link {
          color: #3264fe;
          text-decoration: none;
          margin-right: 10px;
        }
        
        .theme-link:hover {
          text-decoration: underline;
        }
        header{
          min-height: 48px;
        }
        .container {
          position: relative;
          width: 100%;
          height: 50px;
        
        }
        input[type="range"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 100%;
          outline: none;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          background-color: transparent;
          pointer-events: none;
        }
        .slider-track {
          width: 100%;
          height: 5px;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          border-radius: 5px;
        }
        input[type="range"]::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          height: 5px;
        }
        input[type="range"]::-moz-range-track {
          -moz-appearance: none;
          height: 5px;
        }
        input[type="range"]::-ms-track {
          appearance: none;
          height: 5px;
        }
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 1.7em;
          width: 1.7em;
          background-color: #3264fe;
          cursor: pointer;
          margin-top: -9px;
          pointer-events: auto;
          border-radius: 50%;
        }
        input[type="range"]::-moz-range-thumb {
          -webkit-appearance: none;
          height: 1.7em;
          width: 1.7em;
          cursor: pointer;
          border-radius: 50%;
          background-color: #3264fe;
          pointer-events: auto;
          border: none;
        }
        input[type="range"]::-ms-thumb {
          appearance: none;
          height: 1.7em;
          width: 1.7em;
          cursor: pointer;
          border-radius: 50%;
          background-color: #3264fe;
          pointer-events: auto;
        }
        input[type="range"]:active::-webkit-slider-thumb {
          background-color: #ffffff;
          border: 1px solid #3264fe;
        }
        .values {
          width: 50%;
          position: relative;
          margin: auto;
          padding: 5px 0;
          border-radius: 5px;
          text-align: center;
        }
        
        
            body {
              margin: 0;
              font-family: 'Playfair Display', serif;
              height: 100vh;
              display: grid;
              grid-template-rows: auto 1fr;
              background-color: rgb(228, 242, 247);
            }
        
            /* Cover Styling */
            #cover {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #333;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 1000;
          background-image: url("https://lh3.googleusercontent.com/ci/AL18g_SpNsvhMa_a-ZniIFEkvBHY3Yq_d42dlyJTPAs4vx2v1W_lIX0ynnE6tM1Z-cKXRgFWmv_UBG4=s1200");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          font-family: 'Playfair Display', serif;
          font-size: 36px;
          font-weight: bold;
           
        }
        
        #cover h1 {
          font-family: 'Playfair Display', serif;
          font-weight: bold;
          text-align: center;
          padding: 20px 40px;
          
          border-radius: 10px; /* Optional rounded corners for the overlay */
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Optional text-shadow for better readability */
        }
        
        
            #cover button {
        
          padding: 10px 20px;
          margin: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-family: 'Playfair Display', serif;
          font-size: 16px;
            }
            #cover button:hover {
          background-color: #2857cc;
        }
        #data-list li{
          cursor: pointer;
        }
        
            /* App Layout */
            #app {
              display: none;
              grid-template-areas:
                'header header'
                'main right'
                'footer footer';
              grid-template-rows: auto 1fr auto;
              height: 100%;
            }
         
            header {
              grid-area: header;
              background-color: #296640;
              color: white;
              text-align: center;
              padding: 20px;
              font-size: 24px;
              font-family: 'Playfair Display', serif;
          font-size: 36px;
          display: flex;
          justify-content: space-between; /* Space between the two divs */
          align-items: center; /* Center the text vertically */
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
            header div {
          display: flex;
          align-items: center; /* Center items vertically */
        
        }
        
        
            #globe-container {
              grid-area: main;
              overflow: hidden;
            }
        
        
            #right-panel {
          grid-area: right;
          background-color: #e4f2f7;
          overflow-y: auto;  /* Allow vertical scrolling */
          padding: 10px;
          min-height: 1vh;
          min-width: 220px;
        }
        #data-panel div{
        
          width: 100%; /* ensure it takes full width */
          max-height:450px;
          overflow-y: auto; /* add scrollbar when content exceeds the height */
        }
        
        
           /* Modal (popup) Styling */
        /* Styling for the modal */
        #author-modal {
          display: none;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 300px;
          max-height: 80%;
          overflow-y: auto;
        }
        .slider-track {
          width: 100%;
          height: 5px;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          border-radius: 5px;
        }
        
        #author-modal h2 {
          text-align: center;
          margin-bottom: 15px;
        }
        
        #author-modal ul {
          list-style: none;
          padding: 0;
        }
        /* Custom Scrollbar Styling */
        
        
        /* For Firefox */
        #author-modal {
          scrollbar-width: thin; /* Makes the scrollbar thinner */
          scrollbar-color: #ccc #f7f7f7; /* Thumb and track colors */
        }
        
        #author-modal ul li {
          padding: 5px;
          font-size: 14px;
          color: #333;
          margin-bottom: 5px;
          background: #f9f9f9;
          border-radius: 5px;
        }
        
        #author-modal ul li:hover {
          background: #e0e0e0;
        }
        
        #author-modal .close-btn {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 18px;
          background: transparent;
          border: none;
          color: #333;
        }
        
        #author-modal .close-btn:hover {
          color: #c00;
        }
        
        
        #modal-content {
          background-color: white;
          margin: 5% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%; /* Can be adjusted */
          max-width: 400px;
          border-radius: 10px;
        }
        
        #close-modal {
          color: #aaa;
          font-size: 28px;
          font-weight: bold;
        }
        
        #close-modal:hover,
        #close-modal:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
        
        #author-name {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        
        #author-birth-death {
          font-size: 16px;
        }
        
        #right-panel h3{
          margin-bottom: 0 !important;
          margin-top: 50px !important;
        }
        
        #data-panel h3 {
          margin-top: 0;
          font-size: 18px;
        }
        #data-panel ul {
          list-style: none;
          padding: 0;
        }
        /* Custom Scrollbar Styling */
        
        
        /* For Firefox */
        #data-panel {
          scrollbar-width: thin; /* Makes the scrollbar thinner */
          scrollbar-color: #ccc #f7f7f7; /* Thumb and track colors */
        }
        
        #data-panel ul li {
          padding: 5px;
          font-size: 14px;
          color: #333;
          margin-bottom: 5px;
          background: #f9f9f9;
          border-radius: 5px;
        }
        
        #data-panel ul li:hover {
          background: #e0e0e0;
        }
        
        
            footer {
              grid-area: footer;
              text-align: center;
              padding: 10px;
              background-color: #333;
              color: white;
              position:static;
              bottom: 0;
            }
        
        
            #timeline-container {
          margin-top: 20px;
        }
        
        #timeline-container input[type="range"] {
          width: 100%;
        }
        
        #timeline-container p {
          margin-top: 10px;
          font-size: 14px;
        }
        /* Style for the scrollbar in the right panel */
        
        
        
        .values {
          display: flex;
          justify-content: space-between;
          width: 100%; /* This makes sure the entire width of the container */
          padding: 10px 0;
        }
        #data-panel{
            display: none;
        }
        
        #range1 {
          flex: 0 0 auto; /* Allows it to take the space it needs */
        }
        
        #range2 {
          flex: 0 0 auto; /* Allows it to take the space it needs */
        }
        
        
        
        /* Left div 'dizionario' */
        header div:first-child {
          flex: 1; /* Give it equal width to take space on the left */
          font-family: 'Playfair Display', serif;
        }
        
        /* Search container in the center */
        #search-container {
          flex: 2; /* Make it occupy more space in the center */
          display: flex;
          justify-content: space-between;
          align-items: center;
        
          margin: 0 auto; /* Center the container horizontally */
        }
        
        #search-input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          flex-grow: 1;
          margin-right: 10px;
        }
        
        #search-button {
          background-color: #3264fe;
          color: white;
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
        
        #search-button:hover {
          background-color: #2857cc;
        }
        #author-details-modal{
            width: 80vh;
        }
        
        
        .modal {
          display: none;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: white;
          border-radius: 10px;
          padding: 20px;
          z-index: 1000;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        .modal-content {
          overflow-y: auto;
        }
        
        .theme-link {
        
          text-decoration: none;
        }
        #author-themes {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 8px;
            max-height: 400px;
            overflow-y: auto;
        }
        
        /* Thinner and prettier scrollbar */
        #author-themes::-webkit-scrollbar {
            width: 8px;  /* Makes the scrollbar thinner */
        }
        
        #author-themes::-webkit-scrollbar-thumb {
            background-color: #888;  /* Set the thumb (draggable part) color */
            border-radius: 10px;  /* Round the edges of the thumb */
            border: 2px solid #f4f4f4;  /* Add a border around the thumb to make it look more refined */
        }
        
        #author-themes::-webkit-scrollbar-thumb:hover {
            background-color: #555;  /* Darker color when hovering over the thumb */
        }
        
        #author-themes::-webkit-scrollbar-track {
            background: #f1f1f1;  /* Color of the scrollbar track */
            border-radius: 10px; /* Round the track edges */
        }
        
        #search-container {
          position: relative;
          width: 300px;
        }
        
        
        
        #suggestions-list {
          position: absolute;
          top: 100%;
          left: 0;
          width: 90%;
          background: white;
          color: black;
          list-style: none;
          padding: 0;
          font-size: 12px;
          margin: 5px 0 0 0;
          border-radius: 6px;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
          max-height: 200px;
          overflow-y: auto;
          z-index: 1000;
          font-family: 'Playfair Display', serif; /* Stesso font dell'input */
        }
        
        #suggestions-list li {
          padding: 15px;
          cursor: pointer;
          transition: background 0.3s ease;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          text-align: left;
        }
        
        #suggestions-list li:hover {
          background: #444;
        }
        
        
        
        #search-button:hover {
          background: #666;
        }
        
        /* Evidenzia il suggerimento attivo */
        #suggestions-list li.active {
          background-color: #e4e4e4;
        }
        
        .wrapper {
          display: none;
        }
        .filtered-info {
          font-weight: normal;
          font-size: 14px;
          font-style: italic;
          color: #555;
          font-weight: normal;   
          font-size: 14px;       
          font-style: italic;    
          color: #555; 
        }
        /* Stato iniziale: layout a singola colonna */
        #app.one-column {
          display: grid;
          grid-template-areas:
            "header header"
            "main main"
            "footer footer";
          grid-template-rows: auto 1fr auto;
          height: 100%;
        }
        
        /* Stato con pannello laterale: layout a due colonne */
        #app.two-columns {
          display: grid;
          grid-template-areas:
            "header header"
            "main right"
            "footer footer";
          grid-template-columns: 1fr auto; /* il right-panel occuperà lo spazio necessario */
          grid-template-rows: auto 1fr auto;
          height: 100%;
        }
        
        /* Il container del globo occuperà lo spazio della grid-area "main" */
        #globe-container {
          grid-area: main;
          overflow: hidden;
        }
        
        /* Il right-panel inizialmente è nascosto */
        #right-panel {
          grid-area: right;
          background-color: #e4f2f7;
          overflow-y: auto;
          padding: 10px;
          min-width: 220px;
          display: none; /* inizialmente non visibile */
        }
        .filtered-info{
          margin: 0;
        }
        #visualization-container{
          display: grid;
          grid-template-columns: auto auto;
        }
        #container {
          /* Calcola un'altezza in base all'altezza della viewport e sottrae spazio per header e footer */
          min-height: 700px ; /* 150px è un esempio: regola in base al layout */
          min-width: 800px !important;
          overflow: auto;

        }
        #container div {
          min-width: 800px !important; /* Valore minimo per evitare che sia troppo stretta */
          min-height: 600px !important;

        }
.theme-info{
  max-height: 100px;
}